/TwsPluginBase/bin/*.xml
/TwsPluginBase/bin/*.txt
/TwsPluginBase/bin/classes/com/example/plugintestbase/*.class
/TwsPluginBase/bin/res/drawable-hdpi/*.png
/TwsPluginBase/bin/res/drawable-mdpi/*.png
/TwsPluginBase/bin/res/drawable-xhdpi/*.png
/TwsPluginBase/bin/res/drawable-xxhdpi/*.png
/TwsPluginBase/bin/*.jar
/TwsPluginBase/gen/com/example/plugintestbase/*.java
/TwsPluginCore/bin/*.xml
/TwsPluginCore/bin/*.txt
/TwsPluginCore/bin/classes/com/tws/plugin/content/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/app/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/compat/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/localservice/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/manager/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/multidex/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/proxy/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/systemservice/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/core/viewfactory/*.class
/TwsPluginCore/bin/classes/com/tws/plugin/util/*.class
/TwsPluginCore/bin/res/drawable-hdpi/*.png
/TwsPluginCore/bin/res/drawable-mdpi/*.png
/TwsPluginCore/bin/res/drawable-xhdpi/*.png
/TwsPluginCore/bin/res/drawable-xxhdpi/*.png
/TwsPluginCore/bin/*.jar
/TwsPluginCore/gen/com/tws/plugin/core/*.java
/TwsPluginDemo/bin/*.xml
/TwsPluginDemo/bin/*.apk
/TwsPluginDemo/bin/*.dex
/TwsPluginDemo/bin/classes/com/example/hellojni/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/activity/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/fragment/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/provider/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/receiver/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/service/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/view/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/vo/*.class
/TwsPluginDemo/bin/res/drawable-xhdpi/*.png
/TwsPluginDemo/bin/*.ap_
/TwsPluginDemo/gen/com/example/plugindemo/*.java
/TwsPluginDemoFor5/bin/*.xml
/TwsPluginDemoFor5/bin/*.apk
/TwsPluginDemoFor5/bin/*.dex
/TwsPluginDemoFor5/bin/classes/com/facebook/rebound/demo/*.class
/TwsPluginDemoFor5/bin/classes/no/agens/depth/lib/*.class
/TwsPluginDemoFor5/bin/classes/no/agens/depth/lib/headers/*.class
/TwsPluginDemoFor5/bin/classes/no/agens/depth/lib/tween/*.class
/TwsPluginDemoFor5/bin/classes/no/agens/depth/lib/tween/interpolators/*.class
/TwsPluginDemoFor5/bin/dexedLibs/*.jar
/TwsPluginDemoFor5/bin/res/drawable-xxhdpi/*.png
/TwsPluginDemoFor5/bin/res/drawable/*.png
/TwsPluginDemoFor5/bin/*.ap_
/TwsPluginDemoFor5/gen/com/facebook/rebound/demo/*.java
/TwsPluginHelloWorld/bin/*.xml
/TwsPluginHelloWorld/bin/*.apk
/TwsPluginHelloWorld/bin/*.dex
/TwsPluginHelloWorld/bin/classes/com/example/hellojni/*.class
/TwsPluginHelloWorld/bin/classes/com/example/pluginhelloworld/*.class
/TwsPluginHelloWorld/bin/res/drawable-xhdpi/*.png
/TwsPluginHelloWorld/bin/res/drawable-xxhdpi/*.png
/TwsPluginHelloWorld/bin/res/drawable/*.png
/TwsPluginHelloWorld/bin/*.ap_
/TwsPluginHelloWorld/gen/com/example/pluginhelloworld/*.java
/TwsPluginHost/bin/*.xml
/TwsPluginHost/bin/*.txt
/TwsPluginHost/bin/*.apk
/TwsPluginHost/bin/*.dex
/TwsPluginHost/bin/classes/com/example/accesservice/*.class
/TwsPluginHost/bin/classes/com/example/pluginmain/*.class
/TwsPluginHost/bin/classes/com/example/pluginmain/widget/*.class
/TwsPluginHost/bin/classes/com/tencent/tws/sharelib/*.class
/TwsPluginHost/bin/classes/com/tws/plugin/core/*.class
/TwsPluginHost/bin/classes/tws/component/config/*.class
/TwsPluginHost/bin/dexedLibs/*.jar
/TwsPluginHost/bin/res/drawable-xhdpi/*.png
/TwsPluginHost/bin/*.ap_
/TwsPluginHost/gen/com/example/pluginmain/*.java
/TwsPluginHost/gen/com/tencent/tws/sharelib/*.java
/TwsPluginHost/gen/com/tws/plugin/core/*.java
/TwsPluginShareLib/bin/*.xml
/TwsPluginShareLib/bin/*.txt
/TwsPluginShareLib/bin/classes/com/tencent/tws/sharelib/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/sharelib/annotation/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/sharelib/util/*.class
/TwsPluginShareLib/bin/classes/tws/component/log/*.class
/TwsPluginShareLib/bin/classes/tws/component/log/impl/*.class
/TwsPluginShareLib/bin/classes/tws/component/log/upload/*.class
/TwsPluginShareLib/bin/res/drawable-xhdpi/*.png
/TwsPluginShareLib/bin/*.jar
/TwsPluginShareLib/gen/com/tencent/tws/sharelib/*.java
/WxSdkLibrary/bin/*.xml
/WxSdkLibrary/bin/*.apk
/WxSdkLibrary/bin/*.dex
/WxSdkLibrary/bin/classes/com/example/pluginmain/wxapi/*.class
/WxSdkLibrary/bin/classes/com/example/wxsdklibrary/*.class
/WxSdkLibrary/bin/dexedLibs/*.jar
/WxSdkLibrary/bin/*.ap_
/WxSdkLibrary/gen/com/example/wxsdklibrary/*.java
/TwsPluginHost/bin/classes/com/example/pluginhost/*.class
/TwsPluginHost/bin/classes/com/example/pluginhost/widget/*.class
/TwsPluginHost/bin/*.cache
/TwsPluginHost/gen/com/example/pluginhost/*.java
/WxSdkLibrary/bin/classes/com/example/pluginhost/wxapi/*.class
/TwsPluginCore/bin/*.cache
/TwsPluginShareLib/bin/aidl/com/tencent/tws/assistant/services/*.aidl
/TwsPluginShareLib/bin/classes/android/app/*.class
/TwsPluginShareLib/bin/classes/android/widget/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/animation/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/animation/ease/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/app/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/content/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/drawable/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/gaussblur/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/internal/app/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/internal/view/menu/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/internal/widget/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/interpolator/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/preference/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/provider/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/services/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/services/*.aidl
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/annotation/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/app/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/content/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/graphics/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/graphics/drawable/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/os/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/util/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/util/*.html
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/view/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/view/accessibility/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/support/v4/widget/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/utils/*.class
/TwsPluginShareLib/bin/classes/com/tencent/tws/assistant/widget/*.class
/TwsPluginShareLib/bin/res/drawable-hdpi-v4/*.png
/TwsPluginShareLib/bin/res/drawable-hdpi/*.png
/TwsPluginShareLib/bin/res/drawable-nodpi-v4/*.png
/TwsPluginShareLib/bin/res/drawable-xhdpi-v4/*.png
/TwsPluginShareLib/bin/res/drawable-xxhdpi-v4/*.png
/TwsPluginShareLib/bin/res/drawable-xxhdpi/*.png
/TwsPluginShareLib/bin/res/drawable-xxxhdpi/*.png
/TwsPluginShareLib/gen/com/tencent/tws/assistant/services/*.java
/TwsPluginBase/bin/classes/com/example/pluginbase/*.class
/TwsPluginBase/gen/com/example/pluginbase/*.java
/TwsPluginDemoFor5/bin/*.cache
/TwsPluginShareLib/bin/*.cache
/WxSdkLibrary/bin/*.cache
/TwsPluginConfigTheme/bin/*.xml
/TwsPluginConfigTheme/bin/*.txt
/TwsPluginConfigTheme/bin/classes/android/support/v7/appcompat/*.class
/TwsPluginConfigTheme/bin/classes/com/example/twspluginconfigtheme/*.class
/TwsPluginConfigTheme/gen/android/support/v7/appcompat/*.java
/TwsPluginConfigTheme/gen/com/example/twspluginconfigtheme/*.java
