/TwsPluginDemo/bin/*.xml
/TwsPluginDemo/bin/classes/com/example/hellojni/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/activity/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/base/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/fragment/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/provider/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/receiver/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/service/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/view/*.class
/TwsPluginDemo/bin/classes/com/example/plugindemo/vo/*.class
/TwsPluginDemo/gen/com/example/plugindemo/*.java
/TwsPluginDemoFor5/bin/*.xml
/TwsPluginDemoFor5/bin/classes/com/facebook/rebound/demo/*.class
/TwsPluginDemoFor5/bin/classes/no/agens/depth/lib/*.class
/TwsPluginDemoFor5/bin/classes/no/agens/depth/lib/headers/*.class
/TwsPluginDemoFor5/bin/classes/no/agens/depth/lib/tween/*.class
/TwsPluginDemoFor5/bin/classes/no/agens/depth/lib/tween/interpolators/*.class
/TwsPluginDemoFor5/gen/com/facebook/rebound/demo/*.java
/TwsPluginHelloWorld/bin/*.xml
/TwsPluginHelloWorld/bin/classes/com/example/hellojni/*.class
/TwsPluginHelloWorld/bin/classes/com/example/pluginhelloworld/*.class
/TwsPluginHelloWorld/gen/com/example/pluginhelloworld/*.java
/TwsShareLib/bin/*.xml
/TwsShareLib/bin/*.txt
/TwsShareLib/bin/aidl/com/tencent/tws/assistant/services/*.aidl
/TwsShareLib/bin/classes/android/app/*.class
/TwsShareLib/bin/classes/android/widget/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/animation/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/animation/ease/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/app/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/content/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/drawable/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/gaussblur/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/internal/app/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/internal/view/menu/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/internal/widget/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/interpolator/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/preference/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/provider/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/services/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/services/*.aidl
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/annotation/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/app/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/content/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/graphics/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/graphics/drawable/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/os/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/util/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/util/*.html
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/view/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/view/accessibility/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/support/v4/widget/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/utils/*.class
/TwsShareLib/bin/classes/com/tencent/tws/assistant/widget/*.class
/TwsShareLib/bin/classes/com/tencent/tws/framework/utils/*.class
/TwsShareLib/bin/classes/com/tencent/tws/sharelib/*.class
/TwsShareLib/bin/classes/com/tws/plugin/sharelib/*.class
/TwsShareLib/bin/classes/com/tws/plugin/test/*.class
/TwsShareLib/bin/classes/tws/component/log/*.class
/TwsShareLib/bin/classes/tws/component/log/impl/*.class
/TwsShareLib/bin/classes/tws/component/log/upload/*.class
/TwsShareLib/bin/res/drawable-hdpi-v4/*.png
/TwsShareLib/bin/res/drawable-hdpi/*.png
/TwsShareLib/bin/res/drawable-nodpi-v4/*.png
/TwsShareLib/bin/res/drawable-xhdpi-v4/*.png
/TwsShareLib/bin/res/drawable-xhdpi/*.png
/TwsShareLib/bin/res/drawable-xxhdpi-v4/*.png
/TwsShareLib/bin/res/drawable-xxhdpi/*.png
/TwsShareLib/bin/res/drawable-xxxhdpi/*.png
/TwsShareLib/bin/*.jar
/TwsShareLib/gen/com/tencent/tws/assistant/services/*.java
/TwsShareLib/gen/com/tencent/tws/sharelib/*.java
/TwsPluginDemo/bin/*.apk
/TwsPluginDemo/bin/*.dex
/TwsPluginDemo/bin/res/drawable-hdpi/*.png
/TwsPluginDemo/bin/res/drawable-mdpi/*.png
/TwsPluginDemo/bin/res/drawable-xhdpi/*.png
/TwsPluginDemo/bin/res/drawable-xxhdpi/*.png
/TwsPluginDemo/bin/*.ap_
/TwsPluginHelloWorld/bin/*.apk
/TwsPluginHelloWorld/bin/*.dex
/TwsPluginHelloWorld/bin/res/drawable-xhdpi/*.png
/TwsPluginHelloWorld/bin/res/drawable-xxhdpi/*.png
/TwsPluginHelloWorld/bin/res/drawable/*.png
/TwsPluginHelloWorld/bin/*.ap_
